@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Leckerli+One&family=Oleo+Script:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #121212 #121212;
}

html::-webkit-scrollbar {
  width: 1px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

.link {
  text-decoration: none;
  color: #121212;
}

.h3 {
  margin-top: 150px;
}

.app.light {
  background-color: white;
  color: #121212;
}

.app.dark {
  background-color: #121212;
  color: white;
}

.app.light .toolbar {
  background-color: white;
  color: #121212;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.app.dark .toolbar {
  background-color: #121212;
  color: white;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.app.light .link {
  background-color: white;
  color: #121212;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.app.dark .link {
  background-color: #121212;
  color: white;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.app.light .divider {
  background-color: #121212;
  transition: color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.app.dark .divider {
  background-color: white;
  transition: color 0.4s ease-in-out, color 0.4s ease-in-out;
}
